// -------- Settings -------

$colors: (
  border: #fff,
  background: #1d1d1d,
  light: #fff,
  header_page: #6ac045,
  sort_option_border: #fff,
  sort_option_text: #6ac045,
  sort_option_text_hover: lighten(#6ac045, 20%),
  searchBar_border: #6ac045,
  searchBar_input_text_color: #fff,
  book_title: #fff,
  book_author: #fff,
  book_year: gray,
  book_icons: #6ac045,
  book_icons_hover: lighten(#6ac045, 20%),
  footer_color_name: #fff,
  footer_color_portfolio: #fff,
  footer_color_portfolio_hover: #6ac045,
  footer_background: #171717,
  book_form_show: #6ac045,
  form_container: #171717,
  form_text: #fff,
  form_close_button: #6ac045,
  input_header: gray,
  input_text: #fff,
  input_background: #171717,
  input_border: #6ac045,
  submit_btn_background: #6ac045,
  submit_btn_hover: lighten(#6ac045, 10%),
  cancel_btn_background: #6ac045,
  cancel_btn_hover: lighten(#6ac045, 10%),
  validation_warning_text: #d82525,
  attention_background: #fff,
  attention_font_color: #171717,
  attention_icon_color: #6ac045,
  success_font_color: #171717,
  success_background: #fff,
  warning_404_background: #d9534f,
  warning_404_fontColor: #fff
);

$book_config: (
  book_border: 5px
);

@function colors($color-name) {
  @return map-get($colors, $color-name);
}

@function config($config-name) {
  @return map-get($book_config, $config-name);
}

$font-stack: "Montserrat", sans-serif;

// -----------------------------------

// ------ mixin for responsive breakpoints -----

// mobile > 360px
$mobile_small: 360px;

@mixin mobile_small {
  @media (min-width: #{$mobile_small}) {
    @content;
  }
}

// desktop > 480px
$desktop_small: 480px;

@mixin desktop_small {
  @media (min-width: #{$desktop_small}) {
    @content;
  }
}

// desktop > 576px
$desktop_medium: 576px;

@mixin desktop_medium {
  @media (min-width: #{$desktop_medium}) {
    @content;
  }
}

// desktop > 768px
$desktop_large: 768px;

@mixin desktop_large {
  @media (min-width: #{$desktop_large}) {
    @content;
  }
}

// desktop > 960px
$desktop_larger: 992px;

@mixin desktop_larger {
  @media (min-width: #{$desktop_larger}) {
    @content;
  }
}

// desktop extra large > 1200px
$desktop_extra_large: 1200px;

@mixin desktop_extra_large {
  @media (min-width: #{$desktop_extra_large}) {
    @content;
  }
}
// ---------------------------------------------
