@import "config";
@import "reset";

html,
body {
  font-family: $font-stack;
  background-color: colors(background);
  min-height: 100vh;

  .container {
    // header section
    min-height: 100%;
    header {
      border-bottom: 1px solid gray;
      margin-bottom: 20px;
      // header title
      & h1 {
        font-size: 1.2rem;
        color: colors(header_page);
        margin: 0 0 25px 25px;
        padding-top: 10px;
        text-transform: uppercase;
        @include desktop_small {
          font-size: 1.5rem;
        }
        @include desktop_medium {
          font-size: 1.8rem;
        }
      }
    }
  }
  main {
    // books container
    #books {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include desktop_larger {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 40%));
        grid-column-gap: 1rem;
      }
      @include desktop_extra_large {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      }
      .content {
        // inside body book container
        @include desktop_larger {
          display: grid;
          justify-content: center;
          grid-template-columns: 0.7fr;
        }
        margin-top: 20px;
        .content__body {
          height: auto;
          display: flex;
          border: config(book_border) solid colors(border);
          border-radius: 10px;
          // it change the direction of body content at 992px
          @include desktop_larger {
            flex-direction: column;
            max-width: 450px;
          }
          .content__body__image {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
            width: 80%;
            @include desktop_larger {
              flex-direction: column;
              align-self: center;
            }
            .image {
              width: 100%;
              @include desktop_large {
                max-width: 350px;
              }
              @include desktop_larger {
                width: 350px;
              }
            }
          }
          .content__body__text {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 10px 15px 0 15px;
            text-align: right;
            @include desktop_large() {
              justify-content: center;
            }
            @include desktop_larger {
              align-items: center;
            }
            & h1.title {
              font-size: 1.3rem;
              color: colors(book_title);
              @include desktop_small {
                font-size: 2rem;
              }
              @include desktop_medium {
                font-size: 2.5rem;
              }
              @include desktop_larger {
                text-align: center;
                font-size: 2.3rem;
              }
            }
            // book author
            & h2.author {
              font-size: 0.9rem;
              color: colors(book_author);
              padding: 10px 0;
              @include desktop_small {
                font-size: 1.3rem;
              }
              @include desktop_medium {
                font-size: 1.7rem;
              }
              @include desktop_medium {
                font-size: 1.5rem;
              }
            }
            // book year and isbn number
            & p.year,
            p.isbn {
              color: colors(book_year);
              padding: 5px 0;
              font-size: 1.1rem;
              @include desktop_small {
                font-size: 1.2rem;
              }
              @include desktop_medium {
                font-size: 1.5rem;
              }
              @include desktop_large() {
                padding: 10px 0;
              }
            }
            .icons {
              padding: 20px 0;
              font-size: 1.2rem;
              @include desktop_small {
                font-size: 1.5rem;
              }
              // delete icon
              .delete {
                color: colors(book_icons);
                margin-right: 25px;
                cursor: pointer;
                transition: all 0.3s ease;
                @include desktop_small {
                  margin-right: 52px;
                  &:hover {
                    color: colors(book_icons_hover);
                  }
                }
              }
              // edit icon
              .edit {
                color: colors(book_icons);
                cursor: pointer;
                transition: all 0.3s ease;
                @include desktop_small {
                  &:hover {
                    color: colors(book_icons_hover);
                  }
                }
              }
            }
          }
        }
      }
    }
    .books__no__data {
      color: #fff;
      text-align: center;
      padding: 10px;
      font-size: 1.2rem;
    }
  }
  // footer
  footer {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    padding: 3px;
    background-color: colors(footer_background);
    border-top: 1px solid gray;
    & p {
      color: colors(footer_color_text);
      padding: 5px;
    }
    & p:first-child {
      font-weight: bold;
    }
  }
}
